.price-update {
	display: flex;
	align-items: center;
	flex-flow: column;
	margin-top: var(--indent-main);
	line-height: initial;
}

.price-update__time {
	font-size: 72px;
	font-weight: 500;
}

.price-update__description {
	margin-top: -12px;
}
