.button-main {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: var(--size-button-main);
	height: var(--size-button-main);
	border: none;
	background-color: var(--color-light);
	cursor: pointer;
}

.button-main--power {
	background-color: var(--color-power);
}

.button-main:focus {
	outline: none;
}

.button-main__icon {
	position: absolute;
	width: var(--size-button-main-icon);
	height: var(--size-button-main-icon);
	fill: var(--color-primary);
	transition: opacity 0.1s linear;
}

.button-main--power .button-main__icon {
	fill: var(--color-light);
}

.button-main__icon--hover {
	opacity: 0;
}

.button-main__icon--text {
	font-family: 'Oswald', sans-serif;
	font-size: var(--size-button-main-icon);
	font-weight: 500;
	line-height: 1;
	color: var(--color-font);
}

.button-main:hover .button-main__icon--main,
.button-main:focus-visible .button-main__icon--main {
	opacity: 0;
}

.button-main:hover .button-main__icon--hover,
.button-main:focus-visible .button-main__icon--hover {
	opacity: 1;
}
