.page {
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: var(--color-font);
	background-color: transparent;
}

.page__body {
	margin: 0;
	overflow: hidden;
}

.page,
.page__body {
	height: 100%;
}
