:root {
	--z-index-drag-panel: 999;
	--z-index-drag-panel-background: 1000;
	--z-index-drag-panel-item: 1001;
	--z-index-menu-list: 100;
	--z-index-menu-button: 101;

	--height-drag-panel: 10px;

	--color-light: #ffffff;

	--color-primary: #2e3a59;
	--color-power: #26d822;

	--color-font: var(--color-primary);

	--size-button-main: 80px;
	--size-button-main-icon: 28px;

	--border-radius-main: 14px;
}
